.button {
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
	font-weight: bold;
	background-color: var(--backgroundColor);
	color: var(--textColor);
}

.button:hover {
	background-color: var(--hoverColor) !important;
}
