.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.75);
}

.lightboxContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100vw;
}

.bigImageContainer {
	position: relative;
	display: flex;
	/* align-items: stretch; */
	max-width: 100vw;
	min-width: 50vw;
	/* min-height: 50vw; */
}

.fullImage {
	max-width: calc(100vw - (2 * 3em));
	max-height: 70vh;
	border-radius: 15px;
}

.loadingImage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 50vw;
	font-size: 1em;
}

.loadingImage p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.428);
	border-radius: 1em;
	padding: 0.5em;
}

.circleContainer {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	width: auto;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}

.buttonLeftRight {
	color: white;
	font-size: 2em;
	width: 3em;
}

.buttonLeftRight:hover {
	background-color: rgba(255, 255, 255, 0.109);
}

.buttonClose {
	align-self: flex-end;
	color: white;
	height: 2.5em;
	width: 2.5em;
	font-size: 2em;
}

.buttonClose:hover {
	background-color: rgba(255, 255, 255, 0.109);
}

.circle {
	margin: 0 0.5em 0 0.5em;
	background-color: gray;
	border-radius: 50%;
	width: 0.75em;
	height: 0.75em;
}

.circleSelected {
	background-color: white;
}

.hidden {
	display: none;
}
