.imgContainer {
	box-sizing: content-box;
	width: 88px;
	height: 88px;
	border-radius: 10px;
	background-size: cover;
	background-clip: content-box;
	border: 2px solid transparent;
}

.imgContainerSelected {
	border-color: #ff7e1b;
}

.imgOverlay {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.imgOverlay:hover {
	background-color: rgb(255, 255, 255, 0.5);
}

.imgOverlaySelected {
	background-color: rgb(255, 255, 255, 0.75);
}
