table {
	color: white;
	border-collapse: collapse;
	width: 100%;
}

thead {
	font-size: 1.1em;
}

td,
th {
	border: 1px solid #545454;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #373737;
}
